<div class="banner_product_2">
    <h1>Sneaker Shopping</h1>
    <h2>The best place to buy</h2>
</div>

<div class="carousel" data-controller="carousel">
  <div data-carousel-target="slider" class="slider">
      <div id="slide" class="slide" data-carousel-target="slide">
        <div class="slide-info">
          <h1>About us</h1>
          <h2>Nike has pushed the boundaries of sustainable innovation for decades. But what got us here won't get us where we need to go. We're evolving the playbook, transforming science fiction to science fact, at Nike's scale. We're not there yet, but we know where we're going—moving to zero and then beyond.We think of it as "Bloom Over Doom"—tenacious optimism,</h2>
        </div>
      </div>
      <div id="slide-2" class="slide">
        <div class="slide-2-info">
          <h1>Our Team</h1>
          <h2>Nike has pushed the boundaries of sustainable innovation for decades. But what got us here won't get us where we need to go. We're evolving the playbook, transforming science fiction to science fact, at Nike's scale. We're not there yet, but we know where we're going—moving to zero and then beyond.We think of it as "Bloom Over Doom"—tenacious optimism,</h2>
        </div>
      </div>
      <div id="slide-3" class="slide">
        <div class="slide-info">
          <h1>Our Products</h1>
          <h2>Nike has pushed the boundaries of sustainable innovation for decades. But what got us here won't get us where we need to go. We're evolving the playbook, transforming science fiction to science fact, at Nike's scale. We're not there yet, but we know where we're going—moving to zero and then beyond.We think of it as "Bloom Over Doom"—tenacious optimism,</h2>
        </div>
      </div>
      <button class="btn-carousel btn-next"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="btn-carousel btn-prev"><i class="fa-solid fa-arrow-left"></i></button>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    The best place to buy <i class="fas fa-heart"></i>
  </div>
</div>
