.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 15px;
  grid-gap: 16px;
}

a {
  text-decoration: none;
}

.card_image_product {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
  width: auto;
  height: 55vh;
}

.card_product_info {
  padding: 15px 0 15px 15px;
  width: fit-content;
}

.card-category-product {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 24px;
  font-family: 'Nunito';
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-pro-p {
  font-size: 13px;
  margin: 12px 0px;
  font-weight: lighter;
  overflow-wrap: anywhere;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Nunito';
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
