.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 45px 35px 10px;
  grid-gap: 16px;
}

a {
  text-decoration: none;
}

.card_image_product {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
  width: auto;
  height: 55vh;
  object-fit: contain;
}

.card_product_info {
  padding: 15px 0 15px 15px;
  max-width: 300px;
}

.card-pro-price {
  margin: 0 15px 15px;
  font-weight: lighter;
}

.card_product_price {
  text-align: end;
}

.card-category-product {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-pro-p {
  font-size: 15px;
  margin: 8px 0px;
  font-weight: lighter;
  overflow-wrap: anywhere;
}

.card-pro-t {
  margin: 0;
  font-size: 44px;
  line-height: 30px;
  font-weight: 400;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card_show {
  margin: 100px 35px ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.card-category-show {
  display: flex;
  justify-content: center;
}

.card_image_show {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 55vh;
  display: grid;
  place-items: center;
  width: 50%;
}

.image-prod {
  max-height: 55vh;
  width: 100%;
}

.card_show_info {
  background-color: white;
  padding: 25px;
  width: -webkit-fill-available;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card_show_prices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card_show_title h2 {
  font-weight: bold;
  // font-style: italic;
  margin: 0;
  padding-bottom: 5px;
  font-size: 90px;
  // line-height: 73px;
}

.card_show_title p {
  font-weight: lighter;
  font-size: 25px;
  margin: 0;
}

.card_show_prices p {
  font-weight: lighter;
  font-size: 25px;
  margin: 0;
}

.card-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 51px 35px;
  grid-gap: 16px;
}

.card-home-text {
  text-align: center;
  padding: 6vh 45px;
}

#about-us {
  border-right: 1px solid #0000004a;
}

#our-product {
  border-left: 1px solid rgba(0, 0, 0, 0.29);
}

.card-home-text h2 {
  overflow-wrap: anywhere;
  font-weight: lighter;
  font-size: 25px;
  margin: 0;
}

.card-home-text h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}


// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
