.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 400ms cubic-bezier(.25,.37,.17,.96);
  z-index: 1;
}

.nav-link {
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: lighter;
}

.avatar {
  height: 55px;
  width: 55px;
}

.navbar-nav {
  align-items: center;
}

.dropdown-item {
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: lighter;
}
