<div class="banner_product_2">
  <h1>Sneaker Shopping</h1>
  <h2>The best place to buy</h2>
</div>

<div class="banner_product">
</div>


<div class="cards">
  <% @products.each do |product| %>
    <%= render "product", product: product %>
  <% end %>
</div>
